@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;

}
body{
    background-color: #EBEDF1;
}
section, 
footer {
    padding: 30px 0;
}
h3{
    font-size: 50px;
}
p{
    color:black;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff; /* Cor do texto */
    background-color: transparent; /* Sem fundo */
    border: 2px solid #cadbee; /* Contorno com espessura de 2px */
    border-radius: 10px; /* Bordas arredondadas, opcional */
    cursor: pointer;
    transition: 0.1s; /* Animação para hover */
    display: inline-block;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover {
    background-color: #98adc5; /* Fundo azul ao passar o mouse */
}
@keyframes animate-outline {
    from{
        outline: 0px solid #98adc5;
    }
    to{
        outline: 15px solid #becddf;

    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: #98adc5;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease;
}
nav ul a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    text-align: center;
    margin: 150px;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 45px;
    color: white;
}
.banner .banner-text p{
    color: #ffffffb7;
    font-size: 20px;
    font-weight: lighter;
    margin: 20px 0;
}

